# Dependencies
node_modules

# Angular
.angular
dist
coverage

# Playwright
playwright-report
test-results
blob-report

# Generated lock file
package-lock.json

# Local environment configuration
.env.local

# Generated PrimeUI configuration
src/app/core/config/primeui-license.generated.ts